@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
.App{
    font-family: "Roboto", sans-serif;
    letter-spacing: 2px;
    width: 100%;
    margin: 0;
  }