/* DashboardPage.module.css */

.dashboardTitle {
  text-align: center;
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: bold;
}

.dashboardWrapper {
  padding: 2rem;
  display: flex;
  justify-content: center;
  margin-top: 0rem;
}

.chartsGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto;
  gap: 2rem;
  width: 100%;
  max-width: 1400px;
}

.chartCard {
  background: white;
  border-radius: 12px;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease;
}

.chartCard:hover {
  transform: translateY(-3px);
}

.priceTrend {
  grid-column: span 2;
}

/* Specific overrides for bottom charts */
.topGrowingRegions,
.regionalPriceMap,
.investmentOpportunity {
  min-width: 0;
}

/* Responsive Design */
@media (max-width: 1000px) {
  .chartsGrid {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .priceTrend{
    grid-column: span 1;
  }
}
body{
  margin: 0;
}
  