.dashboardWrapper {
    padding: 2rem;
    padding-left: 6rem;
    width: 100%;
    margin-right: 0;
    font-family: 'Segoe UI', sans-serif;
    border-radius: 12px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  }
  body{
    overflow: hidden;
  }
  .dashboardTitle {
    font-size: 1.8rem;
    margin-bottom: 2rem;
    text-align: center;
    color: #333;
  }
  
  .chartsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 2rem;
  }
  
  /* Ensure charts don’t overflow on mobile */
  @media screen and (max-width: 768px) {
    .dashboardWrapper {
      padding: 1rem;
    }
  
    .dashboardTitle {
      font-size: 1.4rem;
    }
  
    .chartsGrid {
      gap: 1.5rem;
    }
    body{
      overflow: auto;
      overflow-x: hidden;
    }
  }
  @media screen and (min-width: 769px) and (max-width: 1100px) {
    body{
      overflow: auto;
      overflow-x: hidden;
    }
  }
  
  